DATABASE_URL=postgresql://postgres:postgres@localhost:5432/research_agent
SECRET_KEY=some-6zGpuf00u5cNJkD_9MTQRfjlEsMblxaYBHPJwtKkvrOIwTcXau9q_IlffdXtnk_fEkZZfeFqlCyNZ4oJ8YElbg
GROQ_API_KEY="....................."
FAISS_INDEX_PATH=data/faiss_index
ALLOWED_ORIGINS=http://localhost:5173
DEBUG=true